<div class="footer-section">
    <div class="headline-footer">
        <img class="logofooter" src="/assets/img/icons/logodarkblue-remove.png" alt="logo michél bente">
        <span class="cc">Michél Bente 2023</span>
    </div>
        <div class="icon-container2">
            <img class="iconset2" src="/assets/img/icons/icon/icon/github.png" alt="github logo">
            <img class="iconset2" src="/assets/img/icons/icon/icon/mail.png" alt="email icon">
            <img class="iconset2" src="/assets/img/icons/icon/icon/linkedIn.png" alt="linkedin icon">
        </div>
        <span class="impressum">Impressum</span>
</div>
