footer-section {
    overflow-x: hidden;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-top: 2px solid #05A9E8;
    z-index: 50px;
}


.headline-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cc {
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-height: 390px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 80;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
    }

    .blueline {
        width: 390px;
        border: 2px solid #05A9E8;
    }

    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #FFFFFF;
        width: 350px;
        height: 40px;
    }

    .icon-container2 {
        width: 250px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
        padding-top: 30px;
    }

    .iconset2:hover {
        transform: scale(1.4);
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    .impressum:hover {
        transform: scale(1, 2);
        text-decoration: underline;
        color: #fbff05;
    }
}

@media (min-height: 1024px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 50;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .headline-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .blueline {
        width: 1024px;
        border: 2px solid #05A9E8;
        z-index: 100;
    }

    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #FFFFFF;
        height: 40px;
    }

    .icon-container2 {
        width: 250px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .iconset2:hover {
        transform: scale(1.4);
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-bottom: 80px;
        cursor: pointer;
        margin-top: 60px;
    }

    .impressum:hover {
        transform: scale(1, 2);
        text-decoration: underline;
        color: #fbff05;
    }
}

@media (min-height: 1440px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 90;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-top: 2px solid #05A9E8;


    }

    .blueline {
        border: 2px solid #05A9E8;
        width: 1440px !important;
        z-index: 50px;
    }


    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        transform: scale(180deg);
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #FFFFFF;

    }

    .icon-container2 {
        width: 250px;
        margin-left: 20px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .iconset2:hover {
        transform: scale(1.4);
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-bottom: 50px;
        cursor: pointer;
        margin-left: 20px;
    }

    .impressum:hover {
        transform: scale(1, 2);
        text-decoration: underline;
        color: #fbff05;
    }
}