<div class="footer-section">
    <div class="headline-footer">
        <div class="blueline"></div>
        <img class="logofooter" src="/assets/img/icons/logodarkblue-remove.png" alt="logo michél bente">
        <span class="cc"> &#169; Michél Bente 2023</span>
    </div>
        <div class="icon-container2">
            <a [href]="githubstring"><img class="iconset2" src="/assets/img/icons/icon/icon/github.png" alt="github logo"></a>
            <a [href]="mailtomestring"><img class="iconset2" src="/assets/img/icons/icon/icon/mail.png" alt="email icon"></a>
            <a [href]="linkedinstring"> <img class="iconset2" src="/assets/img/icons/icon/icon/linkedIn.png" alt="linkedin icon"></a>
        </div>
        <span class="impressum">Impressum</span>
</div>
