@media (min-height: 390px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        width: 390px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 80px;
    }

    .blueline {
        width: 390px;
        border: 2px solid #05A9E8;
    }

    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
        margin-left: 45px;
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #FFFFFF;
        width: 350px;
        height: 40px;
        margin-bottom: 50px;
        margin-left: 95px;
        margin-top: -150px;
    }

    .icon-container2 {
        width: 250px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        cursor: pointer;
        margin-bottom: 50px;
        margin-top: 50px;
    }
}

@media (min-height: 1024px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        margin-left: 190px;
    }

    .blueline {
        width: 768px;
        border: 2px solid #05A9E8;
    }

    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
        margin-left: 230px;
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #FFFFFF;
        height: 40px;
        margin-left: 250px;
    }

    .icon-container2 {
        width: 250px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-bottom: 80px;
        cursor: pointer;
        margin-top: 60px;

    }
}

@media (min-width: 1440px) {
    .footer-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-left: 500px;
    }

    .blueline {
        border: 2px solid #05A9E8;
        width: 1440px;
    }


    .logofooter {
        width: 300px;
        height: 300px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
        margin-left:580px;
    }

    .cc {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #FFFFFF;
        margin-left:580px;
    }

    .icon-container2 {
        width: 250px;
        margin-left:20px;
    }

    .iconset2 {
        gap: 30px;
        margin: 20px;
        cursor: pointer;
    }

    .impressum {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-bottom: 50px;
        cursor: pointer;
        margin-left:20px;
    }
}