<div class="headline-section">
    <div class="headsec">
        <p class="headline-aboutme">About me</p>
        <p class="text">Hi, Iam a Front-end developer based in Arnsberg, Germany.</p>
    </div>
    <div class="personal-stuff">
        <div class="lightbulbpart">
            <img class="imagepersonalstuff" src="/assets/img/icons/icon/icon/lightbulb.png" alt="lightbulb image">
            <p class="text2"> Some personal things to share...</p>
        </div>
        <div class="puzzlepart">
            <img class="imagepersonalstuff2" src="/assets/img/icons/icon/icon/puzzle.png" alt="lightbulb image">
            <p class="text3"> Some personal things to share...</p>
        </div>
    </div>
</div>