<div class="headline-section">
    <div class="headsec">
        <p class="headline-aboutme">About me</p>
        <p class="text">Hi, Iam a Front-end developer based in Arnsberg, Germany.</p>
    </div>
    <div class="personal-stuff">
        <div class="lightbulbpart">
            <img class="imagepersonalstuff" src="/assets/img/icons/icon/icon/lightbulb.png" alt="lightbulb image">
            <p class="text2"> Mit ausgeprägter Kommunikationsfähigkeit, starken Teamarbeitseigenschaften und einer akribischen 
                Aufmerksamkeit für Details bin ich in der Lage, Softwareprojekte erfolgreich als Teil eines Entwicklungsteams umzusetzen. 
                Meine umfangreiche Erfahrung in der Analyse komplexer Probleme und der Optimierung von Workflows ermöglicht es mir, 
                die Bedürfnisse der Kunden zu verstehen und effektive Softwarelösungen zu entwickeln. Ich bin stets bestrebt, 
                die Effizienz zu steigern und arbeite mit Leidenschaft daran, optimale Ergebnisse zu erzielen.</p>
        </div>
        <div class="puzzlepart">
            <img class="imagepersonalstuff2" src="/assets/img/icons/icon/icon/puzzle.png" alt="lightbulb image">
            <p class="text3"> Meine Fähigkeit, out of the box zu denken, ermöglicht es mir, innovative Lösungen für komplexe Probleme zu finden. 
                Ich bin maximal lösungsorientiert und arbeite mit Leidenschaft daran, effektive und effiziente Lösungen zu entwickeln, 
                um die Anforderungen und Ziele erfolgreich umzusetzen.</p>
        </div>
    </div>
    <div class="picture2">
        <img class="line8" src="/assets/img/icons/icon/icon/line8.png" alt="blue line">
        <img class="ellipse" src="/assets/img/icons/icon/icon/Ellipse.png" alt="ellipse">
        <img class="image2" src="/assets/img/IMG_mihcelbente2.JPG" alt="picture of michél bente">
    </div>
</div>