<div class="headline-section" id="aboutMe">
    <div class="headsec">
        <p class="headline-aboutme" data-aos="fade-right">About me</p>
        <p class="text" data-aos="fade-right">Hi, Iam a Front-end developer based in Arnsberg, Germany.</p>
    </div>
    <div class="personal-stuff">
        <div class="lightbulbpart">
            <img class="imagepersonalstuff" data-aos="zoom-in"  data-aos-delay="100" src="/assets/img/icons/icon/icon/lightbulb.png" alt="lightbulb image">
            <p class="text2"data-aos="fade-right" data-aos-delay="100"> With strong communication skills, excellent teamwork abilities, and meticulous attention to detail, 
                I am capable of successfully implementing software projects as part of a development team. 
                My extensive experience in analyzing complex problems and optimizing workflows enables me to understand customer needs and develop effective software solutions. 
                I am always striving to enhance efficiency and work passionately towards achieving optimal results.</p>
        </div>
        <div class="puzzlepart">
            <img class="imagepersonalstuff2" data-aos="zoom-in"data-aos-delay="100" src="/assets/img/icons/icon/icon/puzzle.png" alt="lightbulb image">
            <p class="text3" data-aos="fade-right"  data-aos-delay="100"> My ability to think outside the box allows me to find innovative solutions to complex problems. 
                I am highly solution-oriented and work passionately to develop effective and efficient solutions in order to successfully 
                implement the requirements and goals.</p>
        </div>
    </div>
    <!-- <div class="picture2">
        <img class="line8" src="/assets/img/icons/icon/icon/line8.png" alt="blue line">
        <img class="ellipse" src="/assets/img/icons/icon/icon/Ellipse.png" alt="ellipse">
        <img class="image2" src="/assets/img/IMG_mihcelbente2.JPG" alt="picture of michél bente">
    </div> -->
</div>