.headline-section {
    display: flex;
    z-index: 100;
    color: #FFFFFF;
    padding-right: 20px;
    overflow-x: hidden;
    overflow: hidden;

    .headline-aboutme {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 45px;
        z-index: 18;
        color: #FFFFFF;
        width: 350px;
        z-index: 128;
    }

    .headsec {
        padding-left: 20px;
        z-index: 128;
        display: flex;
        flex-direction: column;
    }

    .text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        z-index: 128;
    }

    .personal-stuff {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        margin-top: 180px;
        margin-left: -280px;
        z-index: 128;

        .lightbulbpart {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 60px;
            z-index: 120;
            gap: 20px;
        }

        .puzzlepart {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-top: 40px;
            z-index: 120;
            gap: 20px;
        }

        .imagepersonalstuff {
            margin-left: -60px;
            z-index: 128;
        }

        .imagepersonalstuff2 {
            margin-left: -60px;
            z-index: 128;
        }

        .text2 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            z-index: 128;
            color: #FFFFFF;
            padding-left: 15px;
            padding-right: 50px;

        }

        .text3 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            z-index: 128;
            color: #FFFFFF;
            padding-right: 50px;
        }
    }
}

.line8 {
    display: none;
}

.image2 {
    display: none;
}

.ellipse {
    display: none;
}


@media (min-width: 390px) {
    .headline-section {
        z-index: 17;
        color: #FFFFFF;
        padding-right: 20px;


        .headline-aboutme {
            width: 226px;
            height: 54px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 45px;
            line-height: 120%;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    .text {
        width: 338px;
        height: 133px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        z-index: 18;
        color: #FFFFFF;
    }

    .personal-stuff {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .lightbulbpart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
        }

        .puzzlepart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
        }

        .imagepersonalstuff {
            width: 34.47px;
            height: 50px;
        }

        .imagepersonalstuff2 {
            width: 50px;
            height: 50px;
        }

        .text2 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            z-index: 18;
            color: #FFFFFF;
            padding-left: 15px;
        }

        .text3 {
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 120%;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    .line8 {
        display: none;
    }

    .image2 {
        display: none;
    }

    .ellipse {
        display: none;
    }
}


@media (min-height: 1024px) {
    .headline-section {

        z-index: 17;
        color: #FFFFFF;
    }

    .headsec {
        margin-left: 20px;
    }

    .headline-aboutme {
        width: 326px;
        height: 54px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 55px;
        z-index: 18;
        color: #FFFFFF;
    }


    .text {
        width: 438px;
        height: 133px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        z-index: 18;
        color: #FFFFFF;
    }



    .picture2 {
        display: none;
    }
}

@media (min-width: 1440px) {
    .headline-section {
        z-index: 17;
        color: #FFFFFF;


        .headline-aboutme {
            width: 426px;
            height: 54px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 55px;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    .headsec {
        margin-left: 40px;
    }

    .text {
        width: 438px;
        height: 133px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 28px!important;
        z-index: 18;
        color: #FFFFFF;
    }

    .personal-stuff {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;
        padding-top: 60px;

        .lightbulbpart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 380px;
        }

        .puzzlepart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
        }

        .imagepersonalstuff {
            width: 54.47px;
            height: 70px;
        }

        .imagepersonalstuff2 {
            width: 70px;
            height: 70px;
        }

        .text2 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 28px!important;
            z-index: 18;
            color: #FFFFFF;
            padding-left: 15px;
            flex-wrap: wrap;
        }

        .text3 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 28px!important;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    // .picture2 {
    // // 
    // }

    .line8 {
        display: flex;

    }

    .image2 {
        display: flex;
        width: 445px;
        height: 446px;
        border-radius: 50%;
    }

    .ellipse {
        display: flex;
    }
}

@media (min-width: 2565px) {
    .headline-section {
        z-index: 17;
        color: #FFFFFF;
        display: flex;

        .headline-aboutme {
            width: 426px;
            height: 54px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 65px;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    .headsec {
        margin-left: 40px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px!important;
        z-index: 18;
        color: #FFFFFF;
        margin-bottom:0px;
    }

    .personal-stuff {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px!important;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .lightbulbpart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
           
        }

        .puzzlepart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            margin-left: 0px;
        }

        .imagepersonalstuff {
            width: 54.47px;
            height: 70px;
        }

        .imagepersonalstuff2 {
            width: 70px;
            height: 70px;
        }

        .text2 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 36px!important;
            z-index: 18;
            color: #FFFFFF;
            padding-left: 15px;
            flex-wrap: wrap;
        }

        .text3 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 36px!important;
            z-index: 18;
            color: #FFFFFF;
        }
    }

}

@media (min-width: 4096px) {
    .headline-section {
        z-index: 17;
        color: #FFFFFF;
        display: flex;

        .headline-aboutme {
            width: 626px;
            height: 54px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 85px;
            z-index: 18;
            color: #FFFFFF;
        }
    }

    .headsec {
        margin-left: 60px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .text {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px!important;
        z-index: 18;
        color: #FFFFFF;
        margin-bottom:0px;
    }

    .personal-stuff {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px!important;
        color: #FFFFFF;
        display: flex;
        flex-direction: column;

        .lightbulbpart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            margin-top: 80px;
           
        }

        .puzzlepart {
            display: flex;
            gap: 100px;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-top: 40px;
            margin-left: 0px;
        }

        .imagepersonalstuff {
            width: 54.47px;
            height: 70px;
        }

        .imagepersonalstuff2 {
            width: 70px;
            height: 70px;
        }

        .text2 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 36px!important;
            z-index: 18;
            color: #FFFFFF;
            padding-left: 15px;
            flex-wrap: wrap;
        }

        .text3 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 36px!important;
            z-index: 18;
            color: #FFFFFF;
        }
    }

}