<div class="contact-section">
    <div class="contact-headline">
    <span class="headline-contact">Contact</span>    
    <img class="line4" src="/assets/img/icons/icon/icon/line4.png" alt="blue line">
    </div>
    <div class="question">
        <img class="line6" src="/assets/img/icons/icon/icon/line6.png" alt="blue line">
        <span class="questionline">Got a problem to solve?</span>
    </div>
    <span class="contactText">
        Contact me through this form, I am interested in hearing you, knowing your ideas and contributing to your projects with my work.
    </span>
    <span class="contactText2">
        Need a Frontend developer? <b>Contact me!</b>
    </span>
    
    <div class="inputfields-section">
        <form action="https://michel-helmut-bente.developerakademie.net/send_mail/send_mail.php" method="post" (submit)="sendMail()">
        <div class="inputfields">
            <input class="yourName" type="text" required placeholder="Your name" minlength="3" name="name"> 
            <input class="yourEmail" type="email" required placeholder="Your email" minlength="6">
            <input class="yourMessage" type="text" required placeholder="Your message" name="message">
            <button type="submit" class="btnSend">Send Message :)</button>
        </div>
        </form>
    </div>
   <img class="arrowUp" src="/assets/img/icons/icon/icon/arrowup.png" alt="arrow up">
</div>
