.contact-headline {
    display: flex;
    justify-content: flex-end;
    align-items: center;

}

@media (min-height: 390px) {
    .contact-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        overflow: hidden;
        flex-direction: column;
    }

    .headline-contact {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 45px;
        text-align: center;
        color: #FFFFFF;
        justify-content: center;
        align-items: center;
        gap: 30px;
        margin-left: 100px;
    }

    .line4 {
        margin-top: 10px;
        margin-left: 50px;
    }

    .question {
       padding-right:20px;
       padding-top:20px;
       padding-bottom:20px;
    }

    .questionline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 23px;
        color: #FFFFFF;
        
    }

    .line6 {
        margin-bottom: 5px;
        padding-left:10px;
        padding-right:10px;
    }

    .textcontainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
    }

    .contactText {
        top: 100px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
        margin-right: 20px;
        flex-wrap: wrap;
        padding-left: 45px;
        padding-bottom: 20px;
    }

    .contactText2 {
        font-family: 'Poppins';
        font-weight: 400;
        color: #FFFFFF;
        padding-bottom: 20px;
        
    }

    .inputfields-section {
        margin-top:0px;
    }

    .inputfields {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        color: #FFFFFF;

    }

    .yourName {
        padding: 15px 25px;
        gap: 10px;
        width: 280px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        margin-bottom: 20px;

    }

    .yourEmail {
        padding: 15px 25px;
        gap: 10px;
        width: 280px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        margin-bottom: 20px;
    }

    .yourMessage {
        padding: 15px 25px;
        gap: 10px;
        width: 280px;
        height: 162px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    ::placeholder {
        color: #FFFFFF;
    }

    .btnSend {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 176px;
        background: #00BEE8;
        border-radius: 10px;
        color: #FFFFFF;
        cursor: pointer;
        margin-left:75px;
    }

    .arrowUp {
        border: 2px solid white;
        border-radius: 100%;
        transform: rotate(0deg);
        cursor: pointer;
        margin-left: 300px;
    }
}

@media (min-height: 1024px) {
    .contact-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
    }

    .headline-contact {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 55px;
        text-align: center;
        color: #FFFFFF;
    }

    .questionline {
        top: 50px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 33px;
        color: #FFFFFF;
    }

    .contactText {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-right: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contactText2 {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
    }

    .inputfields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        color: #FFFFFF;
    }

    .yourName {
        padding: 15px 25px;
        gap: 10px;
        width: 480px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
    }

    .yourEmail {
        padding: 15px 25px;
        gap: 10px;
        width: 480px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    .yourMessage {
        padding: 15px 25px;
        gap: 10px;
        width: 480px;
        height: 162px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        margin-bottom: 20px;
    }

    ::placeholder {
        color: #FFFFFF;
    }

    .btnSend {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 276px;
        background: #00BEE8;
        border-radius: 10px;
        color: #FFFFFF;
        cursor: pointer;
        margin-left:130px;
       
    }

    .arrowUp {
        border: 2px solid white;
        border-radius: 100%;
        transform: rotate(0deg);
        cursor: pointer;
        margin-left:500px;
    }
}

@media (min-width: 1440px) {
    .contact-section {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
    }

    .headline-contact {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 55px;
        text-align: center;
        color: #FFFFFF;
    }

    .questionline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 33px;
        color: #FFFFFF;
    }

    .contactText {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        margin-right: 20px;
        flex-wrap: wrap;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .contactText2 {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
    }

    .inputfields {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 25px;
        color: #FFFFFF;

    }

    .yourName {
        padding: 15px 25px;
        gap: 10px;
        width: 380px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
    }

    .yourEmail {
        padding: 15px 25px;
        gap: 10px;
        width: 380px;
        height: 40px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF
    }

    .yourMessage {
        padding: 15px 25px;
        gap: 10px;
        width: 380px;
        height: 162px;
        background: #141D2F;
        border: 1px solid #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
    }

    ::placeholder {
        color: #FFFFFF;
    }

    .btnSend {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 276px;
        background: #00BEE8;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 20px;
        cursor: pointer;
        margin-left:80px;
    }

    .arrowUp {
        border: 2px solid white;
        border-radius: 100%;
        transform: rotate(0deg);
        width: 30px;
        height: 30px;
        cursor: pointer;
        margin-left: 1000px;
    }
}