<div class="main-container">
    <p class="iam">IAM</p>
    <p class="myName">Michél Bente</p>
    <p class="myJob">FRONTEND DEVELOPER</p>
    <button class="letstalkbtn">Let's talk!</button>

    <img class="iconline" src="/assets/img/icons/icon/icon/line.png" alt="blue line">
    <div class="icon-container">
        <img class="iconset" src="/assets/img/icons/icon/icon/github.png" alt="github logo">
        <img class="iconset" src="/assets/img/icons/icon/icon/mail.png" alt="email icon">
        <img class="iconset" src="/assets/img/icons/icon/icon/linkedIn.png" alt="linkedin icon">
    </div>

    <img class="myPicture" src="/assets/img/icons/icon/icon/IMG_michelbentebg.png" alt="picture of michél bente">
</div>