.main-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    z-index: 5;

    .myText {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .iam {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #1bdc8296;
        margin-block-start: 300px;
        margin-block-end: 0;
        margin-top: 30px;
        margin-bottom: -20px;
    }

    .myName {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        color: #FFFFFF;
        margin-block-start: 0;
        margin-block-end: 0;
    }

    .myJob {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        color: #4B47FF;
        margin-block-start: 0;
        margin-block-end: 0;
        margin-top: -15px;
    }

    .letstalkbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
        margin-top: 80px;
        text-decoration: none!important;
    }

    .letstalkbtn:hover {
        transform: scale(1.2);
        background-color: #4B47FF;
        text-decoration: none!important;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

.iconset {
    color: #00BEE8;
    cursor: pointer;
}

.iconset:hover {
    transform: scale(1.2)!important;
}


.icon-section {
    display: flex;
    align-items: center;
    padding-top: 130px;
    padding-bottom: 20px;
}

.line-container {
    align-items: center;
    padding-bottom: 10px;
    justify-content: flex-start;

}

.icon-container {
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: center;
    padding-right: 40px;

}

.iconline {
    margin-left: -40px;
    margin-right: 20px;
}

.scrollDown {
    position: absolute;
    bottom: 60px;
    left: -25px;
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    z-index: 300;
    transform: rotate(90deg);
    color: #FFFFFF;
    animation: pulse 2s infinite;

    .scrollDownText {
        font-weight: 400;
    }

    .scrollDownImg {
        transform: rotate(270deg);
    }

    @keyframes pulse {
        0% {
            transform: scale(0.95) rotate(90deg);
        }

        70% {
            transform: scale(1.0) rotate(90deg);
        }

        100% {
            transform: scale(0.95) rotate(90deg);
        }
    }
}


.myPicture {
    width: 444px;
    height: 450px;

}

.ownshade {
    background-color: #141D2F;
    z-index: 20;
    border-top-left-radius: 45%;
    border-top-right-radius: 5%;
    border-radius: 25%;
    transform: rotateX(155deg);
    margin-top: -10px;
    width: 90px;
    height: 60px;
}



@media (min-width: 390px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .myText {
        padding-top: 250px;
    }

    .iam {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #1bdc8296;
    }

    .myName {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        color: #FFFFFF;
    }

    .myJob {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        color: #4B47FF;
    }

    .letstalkbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        cursor: pointer;
    }


    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    .myPicture {
        width: 444px;
        height: 450px;
        margin-top: 120px;
        z-index: 10;
    }

    .ownshade {
        background-color: #141D2F;
        height: 120px;
        width: 390px;
        z-index: 20;
        border-top-left-radius: 45%;
        border-top-right-radius: 5%;
        border-radius: 45%;
        transform: rotateY(155deg);
        margin-top: -10px;
    }
}

@media (min-height: 1024px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 140px;
        z-index: 200;
    }

    .myText {
        padding-top: 200px;
    }

    .iam {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        color: #1bdc8296;
    }

    .myName {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 55px;
        color: #FFFFFF;
    }

    .myJob {
        z-index: 6;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 29px;
        color: #4B47FF;
    }

    .letstalkbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 26px;
        line-height: 120%;
        cursor: pointer;
    }

    .iconline {
        margin-left: -220px;
    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-left: 40px;
    }

    .myPicture {
        width: 444px;
        height: 450px;
        z-index: 15;
        margin-top: 150px;
    }
}

.ownshade {
    // background-color: #141D2F; 

    height: 290px;
    width: 768px;
    z-index: 20;
    border-top-left-radius: 45%;
    border-top-right-radius: 5%;
    border-radius: 25%;
    transform: rotateX(155deg);
    margin-top: -10px;
}

@media (min-width: 1440px) {
    .main-container {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .myText {
        padding-top: 100px;
    }

    .iam {
        z-index: 6;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 60px;
        color: #1bdc8296;
    }

    .myName {
        z-index: 6;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 75px;
        color: #FFFFFF;
    }

    .myJob {
        z-index: 6;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 49px;
        color: #4B47FF;
    }

    .letstalkbtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 183px;
        height: 49px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        cursor: pointer;
    }

    .iconline {
        margin-left: -560px;

    }

    .icon-container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
        padding-left: 40px;
    }

    .myPicture {
        width: 444px;
        height: 450px;
        z-index: 15;
        margin-top: 150px;
    }
}