<div class="main-container" id="home">
    <div class="myText">
        <p class="iam" data-aos="fade-left" data-aos-anchor="#example-anchor"data-aos-offset="500" data-aos-duration="500">IAM</p>
        <p class="myName" data-aos="fade-right" data-aos-duration="2500">Michél Bente</p>
        <p class="myJob" data-aos="fade-left" data-aos-anchor="#example-anchor"data-aos-offset="500" data-aos-duration="500">FRONTEND DEVELOPER</p>
        <a [href]="emailstring"><button class="letstalkbtn" data-aos="zoom-in" data-aos-duration="2500">Let's talk!</button></a>
    </div>
    <div class="icon-section">
        <div class="line-container">
            <img class="iconline" data-aos="fade-right" src="/assets/img/icons/icon/icon/line.png" alt="blue line">
        </div>
        <div class="icon-container">
            <img class="iconset" data-aos="fade-right" src="/assets/img/icons/icon/icon/github.png" alt="github logo"
                (click)="openNewWindow()">
            <a [href]="emailstring"><img class="iconset" data-aos="fade-right" src="/assets/img/icons/icon/icon/mail.png"
                    alt="email icon"></a>
            <img class="iconset" data-aos="fade-right" src="/assets/img/icons/icon/icon/linkedIn.png" alt="linkedin icon"
                (click)="openNewWindow()">
        </div>
    </div>
    <div class="scrollDown" data-aos="zoom-in" data-aos-duration="2500">
        <p class="scrollDownText">Scroll down</p>
        <!-- <img class="scrollDownImg" src="/assets/img/icons/icon/icon/arrowup.png" alt=""> -->
    </div>
    <img class="myPicture" data-aos="fade-right" src="/assets/img/icons/icon/icon/IMG_michelbentebg.png" alt="picture of michél bente">
    <!-- <div class="ownshade"></div> -->
</div>