.iam {
    position: absolute;
    top: 200;
    left: 190px;
    right: 50px;
    bottom: 405px;
    width: 400px;
    height: 54px;
    z-index: 6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 120%;
    color: #1bdc8296;
}

.myName {
    position: absolute;
    top: 200;
    left: 80px;
    right: 50px;
    bottom: 360px;
    width: 400px;
    height: 54px;
    z-index: 6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 120%;
    color: #FFFFFF;
}

.myJob {
    position: absolute;
    top: 240;
    left: 60px;
    right: 70px;
    bottom: 350px;
    width: 410px;
    height: 35px;
    z-index:6;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 29px;
    line-height: 120%;
    color: #4B47FF;
}