<!-- <img class="background blurtop1" src="/assets/img/icons/bg/bg/lila.png"> -->
<!-- <img class="background blurtop2" src="/assets/img/icons/bg/bg/Purple.png"> -->
<img class="background blurtop" src="/assets/img/icons/bg/bg/blueShadow.png">
<img class="background blurbottom" src="/assets/img/icons/bg/bg/greenShadow.png">
<!-- <img class="background blurbottom2" src="/assets/img/icons/bg/bg/orangeshadow.png"> -->
<img class="background blurbottom3" src="/assets/img/icons/bg/bg/profileBg.png">
