
<img class="background blurtop" src="/assets/img/icons/bg/bg/blueShadow.png">
<!-- <img class="background blurbottom" src="/assets/img/icons/bg/bg/greenShadow.png"> -->
<img class="background blurbottom3" src="/assets/img/icons/bg/bg/profileBg.png">
<img class="shapes" src="/assets/img/icons/bg/bg/shape.png" alt="shapes">
<!-- <img class="background blurbottom4" src="/assets/img/icons/bg/bg/greenshadow2.png">
<img class="background blurbottom5" src="/assets/img/icons/bg/bg/blueshadow3.png">
<img class="background blurbottom6" src="/assets/img/icons/bg/bg/lightblueShadow.png"> -->