.background {
    width: 400px;
    height: 600px;
    z-index: 5;
}

.blurtop {
    position: absolute;
    height: 289.95px;
    left: -200px;
    right: 0px;
    top: 159px;
    transform: rotate(45deg);
}

.blurtop1 {
    position: absolute;
    height: 289.95px;
    left: 300px;
    right: 0px;
    top: -30px;
    transform: rotate(45deg);
}

.blurtop2 {
    position: absolute;
    height: 289.95px;
    left: -200px;
    right: 0px;
    top: 159px;
    transform: rotate(45deg);
}

.blurbottom {
    position: absolute;
    height: 273.53px;
    left: 57.95%;
    right: -41.05%;
    top: 450.5px;
}


.blurbottom2 {
    position: absolute;
    height: 273.53px;
    left: -27.95%;
    right: 81.05%;
    top: 850.5px;
}

.blurbottom3 {
    position: absolute;
    height: 273.53px;
    left: -37.95%;
    right: 81.05%;
    top: 900.5px;
    transform: rotate(125deg);
    width: 800px !important;
    height: 600px !important;
}

.shapes {
    position: absolute;
    left: -0.14%;
    right: 81.05%;
    top: 1150.5px;
    z-index:16;
    width: 700px;
    height: 1078px;
}