<div class="skills-section" id="skills">
    <div class="headline-skills" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
        <p class="header-text">Skills</p>
        <img class="blueline" src="/assets/img/icons/icon/icon/line2.png" alt="blue line">
    </div>
    <div class="textnskillcolumn">
        <span class="text4">I have gained experience in building projects with various front end technologies and
            concepts.</span>
        <div class="skillList" data-aos="zoom-in" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">
            <div class="skillicons" *ngFor="let skill of skills; let i = index">
                <img src="./../../assets/img/icons/icon/icon/{{skillsImg[i]}}" alt=""> {{skill}}
            </div>
            <div class="buttonintouch">
                <a [href]="contactstring"><button class="letstalkbtn" data-aos="fade-left" data-aos-anchor-placement="center-bottom" data-aos-duration="1000">Get in touch</button></a>
            </div>
        </div>

    </div>

</div>