.skill-section {
    overflow-x: hidden;
}

.headline-skills {
    display: flex;
    flex-direction: row;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 45px;
    z-index: 21;
    color: #FFFFFF;
    justify-content: center;
    gap: 10px;
}

.header-text {
    margin-left: 30px;
}

.blueline {
    margin-left: -0px;
    width: 225px;
    height: 0px;
    border: 4px solid #1CE6B6;
    margin-top: 70px;
}

.textnskillcolumn {
    flex-direction: column;
    display: flex;
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    margin-left: -350px;
}

.buttonintouch {
    display: flex;
    align-items: center;
    justify-content: center;
}

.letstalkbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    background: #00BEE8;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    cursor:pointer;
    text-decoration:none!important;
}

.letstalkbtn:hover {
    transform: scale(1.2);
    background-color: #4B47FF;
    text-decoration: none;
    color: #1bdc8296;
    text-shadow: 1px solid rgba(255, 255, 255, 0.976);
}


@media (min-width: 390px) {
    .skills-section {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        z-index: 20;
        padding-top: 100px;


        .headline-skills {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 45px;
            z-index: 21;
            color: #FFFFFF;
            justify-content: center;
        }

        .header-text {
            padding-left: 0px;
        }

        .blueline {
            width: 205px;
            height: 0px;
            border: 4px solid #1CE6B6;
            margin-left: 10px;
        }

        .text4 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 16px;
            z-index: 18;
            color: #FFFFFF;
            padding-top: 20px;
            margin-left: 140px;
            width: 200px;
            padding-bottom: 20px;
        }
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 350px;
        margin-left: -30px;



        .skillicons {
            display: flex;
            align-items: center;
            gap: 15;
            padding-right: 10px;
            margin-left: 30px;
            flex-wrap: wrap;
            padding-top: 20px;
            padding-bottom: 20px;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;


        }

        .skills {
            width: 64px;
            height: 17px;
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }

    .buttonintouch {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        text-decoration:none!important;
        z-index: 200px;
    }

    .letstalkbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        cursor:pointer;
        text-decoration:none!important;
        z-index: 200;
    }

    .letstalkbtn:hover {
        transform: scale(1.2);
        background-color: #4B47FF;
        text-decoration: none!important;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

@media (min-height: 1024px) {
    .skills-section {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        z-index: 20;

        .headline-skills {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 55px;
            z-index: 21;
            color: #FFFFFF;
            justify-content: center;
        }

        .header-text {
            padding-left: 0px;
            font-size: 55px;
            padding-bottom: 20px;
        }

        .blueline {
            border: 4px solid #1CE6B6;
            height: 0px;
            width: 433px;
            margin-top: 90px;
            margin-left: 140px;
        }

        .text4 {
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 26px;
            z-index: 18;
            color: #FFFFFF;
            padding-top: 60px;
            margin-left: -130px;
            width: 400px;
        }
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 700px;
        margin-left: -320px;

        .skillicons {
            display: flex;
            align-items: center;
            gap: 15;
            padding-right: 30px;
            flex-wrap: wrap;
            padding-top: 40px;
            padding-bottom: 20px;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .skills {
            width: 64px;
            height: 17px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }

    .buttonintouch {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 60px;
        padding-bottom: 100px;
        margin-left: -440px;
        cursor: pointer;
        text-decoration:none!important;
    }

    .letstalkbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        line-height: 120%;
        cursor:pointer;
        text-decoration:none!important;
    }

    .letstalkbtn:hover {
        transform: scale(1.2);
        background-color: #4B47FF;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}


@media (min-width: 1440px) {
    .skills-section {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        z-index: 20;

        .headline-skills {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 55px;
            z-index: 21;
            color: #FFFFFF;
            justify-content: center;
            padding-left: 40px;
        }

        .header-text {
            padding-left: 0px;
            font-size: 55px;
            padding-bottom: 20px;
        }

        .blueline {
            border: 4px solid #1CE6B6;
            height: 0px;
            width: 700px;
            margin-top: 100px;
            margin-left: 400px;
        }

        .text4 {
            width: 538px;
            height: 133px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 26px;
            z-index: 18;
            color: #FFFFFF;
            padding-top: 80px;
            padding-bottom: 30px;
            margin-left: -350px;
        }
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: center;
        gap: 20px;
        width: 1200px;
        margin-left: -820px;

        .skillicons {
            display: flex;
            align-items: center;
            gap: 35;
            padding-right: 30px;
            flex-wrap: wrap;
            padding-bottom: 20px;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .skills {
            width: 64px;
            height: 17px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }

    .buttonintouch {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        margin-right: 110px;
        margin-left: -1150px;
        text-decoration:none!important;
    }

    .letstalkbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        margin-left: 295px;
        margin-top: -80px;
        margin-bottom: 100px;
        cursor:pointer;
        text-decoration:none!important;

        .letstalkbtn:hover {
            transform: scale(1.2);
            background-color: #4B47FF;
            text-decoration: none;
            color: #1bdc8296;
            text-shadow: 1px solid rgba(255, 255, 255, 0.976);
        }
    }
}
@media (min-width: 2565px) {
    .skills-section {
        display: flex;
        flex-direction: row;
        color: #FFFFFF;
        z-index: 20;
        justify-content: center;
        margin-left: -350px;

        .headline-skills {
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 55px;
            z-index: 21;
            color: #FFFFFF;
            justify-content: center;
            padding-left: 40px;
        }

        .header-text {
            padding-left: 0px;
            font-size: 65px;
            padding-bottom: 20px;
            margin-left: 220px;
        }

        .blueline {
            border: 4px solid #1CE6B6;
            height: 0px;
            width: 700px;
            margin-top: 100px;
            justify-content: flex-end;
        }

        .text4 {
            width: 538px;
            height: 133px;
            font-family: 'Poppins';
            font-weight: 400;
            font-size: 36px;
            z-index: 18;
            color: #FFFFFF;
            padding-top: 80px;
            padding-bottom: 30px;
            margin-left: -460px;
        }
    }

    .skillList {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 1200px;
        margin-right: 100px;

        .skillicons {
            display: flex;
            align-items: center;
            gap: 35;
            padding-right: 30px;
            flex-wrap: wrap;
            padding-bottom: 20px;
            justify-content: center;
            margin-top: 20px;
            margin-bottom: 20px;
            
        }

        .skills {
            width: 84px;
            height: 37px;
            font-family: 'Poppins';
            font-weight: 700;
            font-size: 14px;
            color: #FFFFFF;
            margin-top: 10px;
        }
    }

    .buttonintouch {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        text-decoration:none!important;
        margin-left: -100px;
    }

    .letstalkbtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px 40px;
        gap: 10px;
        background: #00BEE8;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        color: #FFFFFF;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        margin-top: -80px;
        margin-bottom: 100px;
        cursor:pointer;
        text-decoration:none!important;
        margin-left: -480px;

        .letstalkbtn:hover {
            transform: scale(1.2);
            background-color: #4B47FF;
            text-decoration: none;
            color: #1bdc8296;
            text-shadow: 1px solid rgba(255, 255, 255, 0.976);
        }
    }
}