.portfolio-content {
    display: flex;
    overflow-x: hidden;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 80px;
    z-index: 300px;
}

.gitHubBtn {
    width: 77px;
    height: 28px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    color: #F5F5F5;
    width: 152px;
    height: 58px;
    border-radius: 10px;
    background-color: #141D2F;
    cursor: pointer;
    text-decoration: none !important;

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8!important;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

.livetestBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px 30px;
    gap: 10px;
    width: 152px;
    height: 58px;
    background: #4B47FF;
    border-radius: 10px;
    color: #FFFFFF;
    font-size: 23px;
    cursor: pointer;

    .livetestBtn:hover {
        transform: scale(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

@media (min-height: 390px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        overflow-x: hidden;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 45px;
        z-index: 21;
        color: #FFFFFF;
    }


    .line3 {
        margin-left: -20px;
        padding-bottom: 10px;
        padding-right: 20px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #FFFFFF;
    }

    .retakemordor {
        width: 300px;
    }

    .mockup1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .mockup2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-bottom: 100px;
        cursor: pointer;
    }

    .projectheadline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #4B47FF;
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #00BEE8;
    }

    .projectDescription {
        width: 240px;
        height: 76px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .mockup1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        flex-direction: column;
    }

    .mockuptext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column!important;
        margin-top: 20px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin-top: 20px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
    }

    .livetestBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 152px;
        height: 58px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 16px;
        cursor: pointer;
        z-index: 200;
    }

    .livetestBtn:hover {
        transform: scale(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #F5F5F5;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
        z-index: 200;
    }

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

@media (min-height: 1024px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        overflow-x: hidden;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 55px;
        z-index: 21;
        color: #FFFFFF;
        justify-content: center;
    }

    .line3 {
        padding-bottom: 10px;
        padding-right: 70px;
        margin-left: -100px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        color: #FFFFFF;
        width: 550px;
        margin-left: -5px;
    }

    .mockup1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .mockup2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
    }

    .projectheadline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 32px;
        text-align: center;
        color: #4B47FF;
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #00BEE8;
    }

    .projectDescription {
        width: 240px;
        height: 76px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        text-align: center;
        color: #FFFFFF;
    }

    .mockup1 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row;
        gap: 20px;
    }

    .mockuptext {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row!important;
        margin-top: 20px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 20px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 20px!important;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row-reverse;
    }

    .livetestBtn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 152px;
        height: 58px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 16px;
        cursor: pointer;
        z-index: 200;
    }

    .livetestBtn:hover {
        transform: scale(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 16px;
        color: #F5F5F5;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
        z-index: 200;
    }

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

}
@media (min-width: 1080px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 65px;
        z-index: 21;
        color: #FFFFFF;
        margin-left: -200px;
    }

    .line3 {
        padding-bottom: 10px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        color: #FFFFFF;
        width: 550px;
        margin-left: 40px;
    }

    .projectheadline {
        width: 296px;
        height: 42.82px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #4B47FF;
        
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #00BEE8;
    }

    .projectDescription {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .retakemordor {
        width: 600px;
    }

    .projectpic {
        width: 500px;
        height: 500px;
    }
    .mockup1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row;
        gap: 200px;
    }

    .mockuptext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
        margin-top: 80px;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row!important;
        margin-top: 180px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 180px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 200px!important;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row-reverse;
    }

    .livetestBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 152px;
        height: 58px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 23px;
        cursor: pointer;
    }

    .livetestBtn:hover {
        transform: scalex(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #F5F5F5;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
    }

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

@media (min-width: 1440px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 65px;
        z-index: 21;
        color: #FFFFFF;
    }

    .line3 {
        padding-bottom: 10px;
        padding-right: 340px;
        margin-left: -320px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        color: #FFFFFF;
        width: 550px;
        margin-left: 40px;
    }

    .projectheadline {
        width: 296px;
        height: 42.82px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #4B47FF;
        
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #00BEE8;
    }

    .projectDescription {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .retakemordor {
        width: 600px;
    }

    .projectpic {
        width: 500px;
        height: 500px;
    }
    .mockup1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row;
        gap: 200px;
    }

    .mockuptext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 100px;
        margin-top: 80px;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row!important;
        margin-top: 180px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 180px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 200px!important;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row-reverse;
    }

    .livetestBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 152px;
        height: 58px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 23px;
        cursor: pointer;
    }

    .livetestBtn:hover {
        transform: scalex(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #F5F5F5;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
    }

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
}

@media (min-width: 2565px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 65px;
        z-index: 21;
        color: #FFFFFF;
    }

    .line3 {
        padding-bottom: 10px;
        padding-right: 810px;
        margin-left: -950px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        color: #FFFFFF;
        width: 550px;
        margin-left: -115px;
    }

    .projectheadline {
        width: 296px;
        height: 42.82px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 42px;
        text-align: center;
        color: #4B47FF;
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 33px;
        color: #00BEE8;
    }

    .projectDescription {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 26px;
        text-align: center;
        color: #FFFFFF;
    }

    .retakemordor {
        width: 600px;
    }

    .mockup1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row;
        gap: 300px;
    }
    .projectpic {
        width: 600px;
        height: 600px;
    }

    .mockuptext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row!important;
        margin-top: 180px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 180px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 300px!important;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row-reverse;
    }

    .livetestBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 152px;
        height: 58px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 23px;
        cursor: pointer;
    }

    .livetestBtn:hover {
        transform: scale(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #F5F5F5;
        width: 152px;
        height: 58px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
    }

    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

}

@media (min-width: 4096px) {
    .portfolio-content {
        display: flex;
        color: #FFFFFF;
        z-index: 20;
        overflow-x: hidden;
        justify-content: center;
        align-items: center;
    }

    .portfolio-headline {
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 85px!important;
        z-index: 21;
        color: #FFFFFF;
    }

    .line3 {
        padding-bottom: 10px;
        padding-right: 810px;
        margin-left: -2040px;
    }

    .textPortfolio {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 46px;
        color: #FFFFFF;
        width: 550px;
        margin-left: -1205px;
    }

    .projectheadline {
        width: 496px;
        height: 42.82px;
        font-family: 'Poppins';
        font-weight: 700;
        font-size: 62px;
        text-align: center;
        color: #4B47FF;
        margin-bottom: 20px;
    }

    .languages {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 43px;
        color: #00BEE8;
    }

    .projectDescription {
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 36px;
        text-align: center;
        color: #FFFFFF;
    }

    .retakemordor {
        width: 900px;
    }

    .mockup1 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row;
        gap: 800px;
    }
    .projectpic {
        width: 900px;
        height: 800px;
    }

    .mockuptext {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .mockupbtns {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row!important;
        margin-top: 380px;
        gap: 20px;
    }

    .mockupbtns2 {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        margin-top: 340px;
        gap: 20px;
    }

    .mockup2 {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 800px!important;
        cursor: pointer;
        margin-top: 40px;
        flex-direction: row-reverse;
    }

    .livetestBtn {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 15px 30px;
        gap: 10px;
        width: 252px;
        height: 88px;
        background: #4B47FF;
        border-radius: 10px;
        color: #FFFFFF;
        font-size: 23px;
        cursor: pointer;
    }

    .livetestBtn:hover {
        transform: scale(1.2);
        background-color: #141D2F;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }

    .gitHubBtn {
        width: 77px;
        height: 28px;
        font-family: 'Poppins';
        font-weight: 400;
        font-size: 23px;
        color: #F5F5F5;
        width: 252px;
        height: 88px;
        border-radius: 10px;
        background-color: #141D2F;
        cursor: pointer;
    
    .gitHubBtn:hover {
        transform: scale(1.2);
        background-color: #00BEE8;
        text-decoration: none;
        color: #1bdc8296;
        text-shadow: 1px solid rgba(255, 255, 255, 0.976);
    }
    }
}

