<div class="portfolio-content">
    <div class="portfolio-headline">
        <img class="line3" src="/assets/img/icons/icon/icon/line3.png" alt="blue line">
        <span class="headline-portfolio">Portfolio</span>
        <span class="textPortfolio">This is my work of art. Please feel free to try it out.</span>
    </div>
    <div class="mockups">
        <div class="mockup1">
            <img src="/assets/img/icons/icon/icon/board.png" alt="" (click)="openRetakeMordor()">
            <span class="projectheadline">Retake Mordor</span>
            <span class="languages">JavaScript | HTML | CSS</span>
            <span class="projectDescription"> A simple Jump-and-Run game based on an object-oriented approach. Help the elf to find magicbooks and mana bottles to fight against the killer orcs.</span>
            <button class="livetestBtn" (click)="openRetakeMordor()">Live test</button>
            <button class="gitHubBtn" (click)="openMordor()">Github</button>
        </div>
        <div class="mockup2">
            <img src="/assets/img/icons/icon/icon/board.png" alt="" (click)="openJoinProject()">
            <span class="projectheadline">Join</span>
            <span class="languages"> Javascript | HTML | CSS</span>
            <span class="projectDescription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories</span>
            <button class="livetestBtn" (click)="openJoinProject()">Live test</button>
            <button class="gitHubBtn" (click)="openJoin()">Github</button>
        </div>
        <!-- <div class="mockup3">
            <img src="/assets/img/icons/icon/icon/board.png" alt="">
            <span class="projectheadline">Join</span>
            <span class="languages"> Angular | TypeScript | HTML | CSS | Firebase</span>
            <span class="projectDescription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories</span>
        </div> -->
    </div>
</div>