.portfolio-content {
    display: flex;
    align-items: center;
    position: absolute;
    left: -80px;
    top: 3539px;
    right:0px;
    bottom:0px;

}
    .portfolio-headline {
        position: absolute;
        left: -480px;
        top: 0px;
        right:0px;
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 45px;
        line-height: 120%;
        text-align: center;
        color: #FFFFFF;
    }

    .line3 {
        padding-bottom: 10px;
        padding-right: 40px;

    }
.mockups {
    
}