<div class="portfolio-content">
    <div class="portfolio-headline">
        <img class="line3" src="/assets/img/icons/icon/icon/line3.png" alt="blue line">
        <span class="headline-portfolio">Portfolio</span>
        <span class="textPortfolio">This is my work of art. Please feel free to try it out.</span>
    </div>
    <div class="mockups">
        <img src="/assets/img/icons/icon/icon/board.png" alt="">
        <img src="/assets/img/icons/icon/icon/board.png" alt="">
        <img src="/assets/img/icons/icon/icon/board.png" alt="">
    </div>
</div>