<div class="portfolio-content" id="portfolio">
    <div class="portfolio-headline">
        <img class="line3" data-aos="fade-right" src="/assets/img/icons/icon/icon/line3.png" alt="blue line">
        <span class="headline-portfolio" data-aos="fade-right">Portfolio</span>
        <div class="text">
            <span class="textPortfolio" data-aos="fade-right">This is my work of art. Please feel free to try it
                out.</span>
        </div>
    </div>
    <div class="mockups">
        <div class="mockup1">
            <img class="projectpic" src="/assets/img/icons/Untitleddesign-removebg-preview.png" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000" alt="" (click)="openRetakeMordor()">
            <div class="mockuptext">
                <span class="projectheadline" data-aos="fade-up">Retake Mordor</span>
                <span class="languages" data-aos="fade-up">JavaScript | HTML | CSS</span>
                <span class="projectDescription" data-aos="fade-up"> A simple Jump-and-Run game based on an
                    object-oriented approach. Help the
                    elf to find magicbooks and mana bottles to fight against the killer orcs.</span>
                <div class="mockupbtns">
                    <button class="livetestBtn" data-aos="fade-up" (click)="openRetakeMordor()">Live test</button>
                    <button class="gitHubBtn" data-aos="fade-up" (click)="openMordor()">Github</button>
                </div>
            </div>
        </div>
        <div class="mockup2">
            <img class="projectpic" src="/assets/img/icons/icon/icon/board.png" data-aos="fade-up" data-aos-anchor-placement="bottom-bottom" data-aos-duration="1000" alt="" (click)="openJoinProject()">
            <div class="mockuptext">
                <span class="projectheadline" data-aos="fade-down">Join</span>
                <span class="languages" data-aos="fade-down"> Javascript | HTML | CSS</span>
                <span class="projectDescription" data-aos="fade-down">Task manager inspired by the Kanban System. Create
                    and organize tasks using drag and drop functions, assign users and categories</span>
                <div class="mockupbtns2">
                    <button class="livetestBtn" data-aos="fade-down" (click)="openJoinProject()">Live test</button>
                    <button class="gitHubBtn" data-aos="fade-down" (click)="openJoin()">Github</button>
                </div>
            </div>
        </div>
        <!-- <div class="mockup3">
            <img src="/assets/img/icons/icon/icon/board.png" alt="">
            <span class="projectheadline">Join</span>
            <span class="languages"> Angular | TypeScript | HTML | CSS | Firebase</span>
            <span class="projectDescription">Task manager inspired by the Kanban System. Create and organize tasks using drag and drop functions, assign users and categories</span>
        </div> -->
    </div>
</div>